body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Tahoma', 'Arial Black', sans-serif;
}
button {
  cursor: pointer;
}

#game {
  display: none;
}
#start {
  display: none;
}
#about {
  display: none;
}
#background {
  padding: 0;
  display: none !important;
}
#startBtn:disabled {
  background: gray;
}

#end,
#next-level,
#previous-level {
  display: none;
}

#end {
  display: none;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

@media (min-width: 1280px) {
  #background {
    width: 200vw;
    background-size: 1000px;
  }
  .bg-start {
    width: 100vw;
  }
  #bird.duck {
    width: 300px;
  }
  .logo-start {
    width: 300px;
  }
  #bird.duck-fly-2,
  #bird.duck-fly-6,
  #bird.duck-fly-5,
  #bird.duck-fly-4 {
    width: 250px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 50px !important;
  }
  @keyframes background-move {
    0% {
      transform: translate3d(0px, 0, 0);
    }
    50% {
      transform: translate3d(-500px, 0, 0);
    }
    100% {
      transform: translate3d(-1000px, 0, 0);
    }
  }
  #options {
    margin: 30px auto;
  }
  .scoreBox {
    margin: 6px 20px;
  }
  .levelAndLife {
    top: 5px;
    left: 20px;
  }
  .levelIcon {
    width: 100px;
  }
  #lives {
    margin-left: 20px;
  }
  #background.bg-level-6 {
    background-image: url(images/backgrounds/bg-level6-d.png);
    background-position: bottom;
    background-color: #008fd0;
    background-repeat: repeat-x;
  }
  .logoPopUp {
    top: -80px;
    width: 200px;
    left: 20px;
  }
  #start,
  #end,
  #previous-level,
  #next-level {
    top: 50%;
    width: 200px;
    height: 400px;
  }
  .logo-and-btn-wrap {
    top: 20%;
  }
  #start button,
  #end button,
  #previousLevelBtn,
  #nextLevelBtn {
    margin: 20px auto 0;
  }
  .titlePopUp {
    margin-top: 80px;
  }
  .enemy.infantry-1,
  .enemy.infantry-2,
  .enemy.infantry-3,
  .enemy.infantry-4,
  .enemy.infantry-5 {
    width: 160px;
    height: 160px;
    bottom: 50px;
  }

  .enemy.machinery-1 {
    width: 240px;
    height: 140px;
    bottom: 60px;
  }
  .enemy.machinery-2 {
    width: 250px;
    height: 140px;
    bottom: 50px;
  }
  .enemy.machinery-3 {
    width: 350px;
    height: 127px;
    bottom: 40px;
  }
  .enemy.machinery-4 {
    width: 270px;
    bottom: 60px;
    height: 150px;
  }
  .enemy.machinery-5 {
    width: 400px;
    bottom: 60px;
    height: 140px;
  }
  .aboutWraper {
    width: 550px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  #background {
    width: 2000px;
    background-size: 1000px;
  }
  .bg-start {
    width: 100vw;
  }
  .logo-start {
    width: 300px;
  }
  @keyframes background-move {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(-1000px);
    }
  }
  #bird.duck {
    width: 200px;
  }
  #bird.duck-fly-1,
  #bird.duck-fly-3 {
    width: 200px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 50px !important;
  }
  #bird.duck-fly-2,
  #bird.duck-fly-6,
  #bird.duck-fly-5,
  #bird.duck-fly-4 {
    width: 250px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 50px !important;
  }
  #options {
    margin: 30px auto;
  }
  .scoreBox {
    margin: 6px 20px;
  }
  .levelAndLife {
    top: 5px;
    left: 20px;
  }
  .levelIcon {
    width: 100px;
  }
  #lives {
    margin-left: 20px;
  }
  #background.bg-level-6 {
    background-image: url(images/backgrounds/bg-level6-d.png);
    background-position: bottom;
    background-color: #008fd0;
    background-repeat: repeat-x;
  }
  .logoPopUp {
    top: -80px;
    width: 200px;
    left: 20px;
  }
  #start,
  #end,
  #previous-level,
  #next-level {
    top: 50%;
    width: 200px;
    height: 400px;
  }
  .logo-and-btn-wrap {
    top: 20%;
  }
  #start button,
  #end button,
  #previousLevelBtn,
  #nextLevelBtn {
    margin: 20px auto 0;
  }
  .titlePopUp {
    margin-top: 80px;
  }
  .enemy.infantry-1,
  .enemy.infantry-2,
  .enemy.infantry-3,
  .enemy.infantry-4,
  .enemy.infantry-5 {
    width: 170px;
    bottom: 50px;
  }

  .enemy.machinery-1 {
    width: 240px;
    height: 140px;
    bottom: 60px;
  }
  .enemy.machinery-2 {
    width: 250px;
    height: 140px;
    bottom: 50px;
  }
  .enemy.machinery-3 {
    width: 250px;
    height: 127px;
    bottom: 60px;
  }
  .enemy.machinery-4 {
    width: 250px;
    bottom: 60px;
    height: 140px;
  }
  .enemy.machinery-5 {
    width: 400px;
    bottom: 60px;
    height: 130px;
  }
  .aboutWraper {
    width: 450px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #background {
    width: 1400px;
    background-size: 700px;
  }
  .logo-start {
    width: 150px;
  }
  @keyframes background-move {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-350px);
    }
    100% {
      transform: translateX(-700px);
    }
  }
  #bird.duck {
    width: 200px;
  }
  #bird.duck-fly-1,
  #bird.duck-fly-3 {
    width: 200px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 80px !important;
  }
  #bird.duck-fly-2,
  #bird.duck-fly-6,
  #bird.duck-fly-5,
  #bird.duck-fly-4 {
    width: 200px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 80px !important;
  }
  #options {
    margin: 10px auto;
  }
  .scoreBox {
    margin: 6px 10px 6px 20px;
  }
  .levelAndLife {
    top: 45px;
    left: 10px;
  }
  .levelIcon {
    width: 70px;
  }
  #lives {
    margin-left: 0;
  }
  #background.bg-level-6 {
    background-image: url(images/backgrounds/bg-level6-m.png);
    background-position: bottom;
    /*position: absolute;*/
    background-color: #008fd0;
    background-repeat: repeat-x;
    bottom: 0;
    width: auto;
    background-size: contain;
    z-index: auto;
  }
  .logoPopUp {
    top: -80px;
    width: 200px;
    left: 20px;
  }
  #start,
  #end,
  #previous-level,
  #next-level {
    top: 50%;
    width: 200px;
    height: 400px;
  }
  .logo-and-btn-wrap {
    top: 20%;
  }
  #start button,
  #end button,
  #previousLevelBtn,
  #nextLevelBtn {
    margin: 20px auto 0;
  }
  .titlePopUp {
    margin-top: 80px;
  }
  .enemy.infantry-1,
  .enemy.infantry-2,
  .enemy.infantry-3,
  .enemy.infantry-4,
  .enemy.infantry-5 {
    width: 100px;
    bottom: 40px;
  }

  .enemy.machinery-1 {
    width: 160px;
    height: 80px;
    bottom: 50px;
  }
  .enemy.machinery-2 {
    width: 150px;
    height: 100px;
    bottom: 40px;
  }
  .enemy.machinery-3 {
    width: 180px;
    bottom: -30px;
    height: 90px;
  }
  .enemy.machinery-4 {
    width: 260px;
    bottom: 20px;
    height: 90px;
  }
  .enemy.machinery-5 {
    width: 200px;
    bottom: 10px;
    height: 70px;
  }
  .aboutWraper {
    width: 350px;
  }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  #background.bg-level-6 {
    background-image: url(images/backgrounds/bg-level6-d.png);
    background-position: bottom;
    background-color: #008fd0;
    background-repeat: repeat-x;
    bottom: 0;
    width: auto;
    background-size: contain;
    z-index: auto;
  }
  #bird.duck-fly-1,
  #bird.duck-fly-3 {
    width: 100px !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 10px !important;
  }
  #bird.duck-fly-2,
  #bird.duck-fly-6,
  #bird.duck-fly-5,
  #bird.duck-fly-4 {
    width: 100px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 10px !important;
  }
  .levelAndLife {
    top: 10px;
    left: 10px;
  }
  .logoPopUp {
    top: -50px;
    width: 140px;
    left: 150px;
  }
  #start,
  #end,
  #previous-level,
  #next-level {
    top: 45%;
    width: 400px;
    height: 250px;
  }
  .logo-start {
    width: 150px;
  }
  .logo-and-btn-wrap {
    top: 30%;
  }
  #start button,
  #end button,
  #previousLevelBtn,
  #nextLevelBtn {
    margin: 10px auto 0;
  }
  .titlePopUp {
    margin-top: 60px;
  }
  .duckStartWrap {
    width: 100px;
  }
  #start {
    height: 280px;
    margin-top: 30px;
  }
  .enemy.infantry-1,
  .enemy.infantry-2,
  .enemy.infantry-3,
  .enemy.infantry-4,
  .enemy.infantry-5 {
    width: 100px;
    bottom: 20px;
  }
  .enemy.machinery-1 {
    width: 160px;
    bottom: 30px;
    height: 75px;
  }
  .enemy.machinery-2 {
    width: 150px;
    height: content-box;
    bottom: 20px;
  }
  .enemy.machinery-3 {
    width: 180px;
    bottom: -40px;
    height: 30px;
  }
  .enemy.machinery-4 {
    width: 220px;
    height: 80px;
    bottom: 20px;
  }
  .enemy.machinery-5 {
    width: 180px;
    bottom: 10px;
    height: 60px;
  }
  .aboutWraper {
    width: 450px;
  }
}
/*----------------background---------------- */

.background-block {
  position: relative;
  overflow: hidden;
}
#background {
  padding: 0;
  overflow: hidden;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e1f5;
  background-repeat: repeat-x;
  background-position: center bottom;
}
#background-start {
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #008fd0;
  display: flex;
  flex-direction: column;
}
.bg-start-phone {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #008fd0;
  background-size: cover;
}
.logo-and-btn-wrap {
  display: flex;
  padding-top: 250px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 465px;
}
.loading {
  display: none;
}
.btn-start,
.btn-about,
.btn-help {
  font-size: 16px;
  width: 180px;
  height: 45px;
  font-weight: bold;
  background: #fff;
  border-radius: 50px;
  border: 3px solid black;
  cursor: pointer;
  outline: none;
  color: #0083ff;
  text-transform: uppercase;
  transition-duration: 0.2s;
  margin: 20px auto 0;
}
.btn-start:hover,
.btn-about:hover,
.btn-help:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: translateY(-5px);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
#background.bg-level-1 {
  background-image: url(images/backgrounds/bg-level-1.png);
  animation: background-move 6s linear infinite;
}
#background.bg-level-2 {
  background-image: url(images/backgrounds/bg-level-2.png);
  animation: background-move 6s linear infinite;
}
#background.bg-level-3 {
  background-image: url(images/backgrounds/bg-level-3.png);
  background-color: #0f1418;
  animation: background-move 6s linear infinite;
}
#background.bg-level-4 {
  background-image: url(images/backgrounds/bg-level-4.png);
  animation: background-move 5s linear infinite;
}
#background.bg-level-5 {
  background-image: url(images/backgrounds/bg-level-5.png);
  animation: background-move 5s linear infinite;
}

/*--------------------------------birds---------------- */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

#bird {
  height: 200px;
  position: absolute;
  left: 15%;
  top: 60px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#bird.duck {
  transition-duration: 0.0001ms;
  background-size: cover;
  animation: float 3s ease-in-out infinite;
}
#bird.duck-fly-1 {
  background: url(images/birds/duck-fly-1.gif);
}
#bird.duck-fly-2 {
  background: url(images/birds/duck-fly-2.gif);
}
#bird.duck-fly-3 {
  background: url(images/birds/duck-fly-3.gif);
}
#bird.duck-fly-4 {
  background: url(images/birds/duck-fly-4.gif);
}
#bird.duck-fly-5 {
  background: url(images/birds/duck-fly-5.gif);
}
#bird.duck-fly-6 {
  background: url(images/birds/duck-fly-6.gif);
}

/*--------------------------------score---------------- */

.iconOptions {
  width: 60px;
  position: absolute;
  left: -30px;
  top: -20px;
}
.current {
  font-weight: bold;
  font-size: 11px;
  color: black;
  margin-left: 25px;
}
.total {
  font-weight: bold;
  font-size: 9px;
  color: #6f6f6f;
}
.scoreLine {
  font-weight: bold;
  font-size: 9px;
  color: #6f6f6f;
}
.scoreBox {
  position: relative;
  width: 70px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50px;
  height: 20px;
}
.levelAndLife {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  position: absolute;
}
#lives span {
  display: block;
  margin: 0;
  float: left;
  width: 20px;
  height: 20px;
  background: url(images/icons/star-icon.png);
  background-size: cover;
}
#options {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#options div {
  float: left;
}
#options #score-infantry {
  color: #fff;
}
#options #score-machinery {
  color: #fff;
}
#options #score-airforce {
  color: #fff;
}
#options #sound,
#options #sound img {
  height: 100%;
}
#score-putin .iconOptions {
  top: -10px;
}
/*--------------------------------weapon---------------- */

.bullet {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 5;
}
.bullet.weapon-1 {
  background: url(images/weapons/weapon-1.png) transparent no-repeat;
  width: 14px;
  height: 38px;
}
.bullet.weapon-2 {
  background: url(images/weapons/weapon-2.png) transparent no-repeat;
  width: 17px;
  height: 43px;
}
.bullet.weapon-3 {
  background: url(images/weapons/weapon-3.png) transparent no-repeat;
  width: 40px;
  height: 50px;
}
.bullet.weapon-4 {
  background: url(images/weapons/weapon-4.png) transparent no-repeat;
  width: 36px;
  height: 85px;
}
.bullet.weapon-5 {
  background: url(images/weapons/weapon-5.png) transparent no-repeat;
  width: 25px;
  height: 70px;
  background-size: cover;
}
.bullet.weapon-6 {
  background: url(images/weapons/weapon-6.png) transparent no-repeat;
  width: 54px;
  height: 120px;
  background-size: cover;
}
.boom {
  position: absolute;
  width: 224px;
  height: 254px;
  z-index: 9999;
  top: 40%;
  left: 50%;
}
.boom.boom-1 {
  background: url(images/booms/boom-1.gif) transparent no-repeat;
}
.boom.boom-2 {
  background: url(images/booms/boom-2.gif) transparent no-repeat;
}
.boom.boom-3 {
  background: url(images/booms/boom-3.gif) transparent no-repeat;
}

.enemy.infantry,
.enemy.machinery {
  position: absolute;
  right: -300px;
  z-index: 999999;
  min-height: 100px;
}
.enemy.infantry-1 {
  background: url(images/enemies/infantry-1.gif) no-repeat;
  background-size: contain;
}
.enemy.infantry-2 {
  background: url(images/enemies/infantry-2.gif) no-repeat;
  background-size: contain;
}
.enemy.infantry-3 {
  background: url(images/enemies/infantry-3.gif) no-repeat;
  background-size: contain;
}
.enemy.infantry-4 {
  background: url(images/enemies/infantry-4.gif) no-repeat;
  background-size: contain;
}
.enemy.infantry-5 {
  background: url(images/enemies/infantry-5.gif) no-repeat;
  background-size: contain;
}

.enemy.machinery-1 {
  background: url(images/enemies/machinery-1.png) no-repeat;
  background-size: cover;
}
.enemy.machinery-2 {
  background: url(images/enemies/machinery-2.png) no-repeat;
  background-size: contain;
}
.enemy.machinery-3 {
  background: url(images/enemies/machinery-3.png) no-repeat;
  background-size: contain;
}
.enemy.machinery-4 {
  background: url(images/enemies/machinery-4.png) no-repeat;
  background-size: contain;
}
.enemy.machinery-5 {
  background: url(images/enemies/machinery-5.png) no-repeat;
  background-size: contain;
}

.enemy.airforce {
  position: absolute;
  top: 50% !important;
  right: -300px;
  z-index: 999999;
  height: 300px;
  padding-bottom: 250px;
}
.enemy.airforce-1 {
  background: url(images/enemies/airforce-1.png) no-repeat;
  width: 90px;
  background-size: contain;
}
.enemy.airforce-2 {
  background: url(images/enemies/airforce-2.png) no-repeat;
  width: 150px;
  background-size: contain;
}
.enemy.airforce-3 {
  background: url(images/enemies/airforce-3.png) no-repeat;
  width: 200px;
  background-size: contain;
}
.enemy.airforce-4 {
  background: url(images/enemies/airforce-4.png) no-repeat;
  width: 200px;
  background-size: contain;
}
.enemy.airforce-5 {
  background: url(images/enemies/airforce-5.png) no-repeat;
  width: 200px;
  background-size: contain;
}
.enemy.putin {
  position: absolute;
  right: -300px;
  z-index: 999999;
  height: 200px;
  width: 200px;
  bottom: 0 !important;
  background-size: contain !important;
}
.enemy.putin.putinLeft {
  background: url(images/enemies/putin-left.gif) no-repeat;
}
.enemy.putin.putinRight {
  background: url(images/enemies/putin-right.gif) no-repeat;
}
.jumpUp {
  animation: putinUp 0.2s ease-in-out infinite;
}
@keyframes putinUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -30px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------popUps---------------- */

.logoPopUp {
  position: absolute;
}

.titlePopUp {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
}

#start,
#end,
#previous-level,
#next-level {
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 4px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 2px 20px;
  -webkit-box-shadow: 0px 15px 20px -10px #000000;
  box-shadow: 0px 15px 20px -10px #000000;
}
#about {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 0;
  z-index: 2;
}
.stepImg {
  width: 400px;
}
.aboutTextWrap {
  overflow: visible;
  overflow-y: auto;
  width: auto;
  background: #d6e1f5;
  background-image: url('images/backgrounds/about-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
}
.aboutBtnWrap {
  margin-bottom: 50px;
}
.aboutTitle {
  font-size: 24px;
  color: white;
  margin-top: 80px;
}
.aboutDescr {
  font-size: 16px;
  color: black;
  font-weight: bold;
  line-height: 1.5em;
}
.smallText {
  font-size: 16px;
  color: black;
  font-weight: normal;
  line-height: 1.2em;
}
.textMail {
  font-size: 16px;
  color: black;
  font-weight: bold;
  line-height: 1.2em;
  text-decoration: underline;
}
.aboutWraper {
  background-color: white;
  border: 3px dashed black;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.socialIcon {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}
#start #select-bird {
  width: 200px;
  margin: 0 auto;
}

#start button,
#end button,
#previousLevelBtn,
#nextLevelBtn {
  font-size: 16px;
  padding: 0 20px;
  height: 45px;
  font-weight: bold;
  background: #0083ff;
  border-radius: 50px;
  border: 3px solid black;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

#start button:hover,
#end button:hover,
#previousLevelBtn,
#nextLevelBtn {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: translateY(-5px);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

.boxLoadingText {
  margin: 20px auto 0 auto;
  font-size: 24px;
  color: #ffffff;
}
.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 500px;
  bottom: 0;
}
.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #ffffff;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
